# Habilitar o Rewrite Engine
RewriteEngine On

# Rota para a página inicial "/"
RewriteRule ^$ index.html [L]

# Rota para votacao.php
RewriteRule ^votacao$ votacao.php [L]

# Rota para cadastro.php
RewriteRule ^cadastro$ cadastro.php [L]

# (Opcional) Redirecionar erro 404 pra index ou uma página personalizada
ErrorDocument 404 /index.html
